@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #a73f9e;
  color: #fff;
}

::-moz-selection {
  background: #a73f9e;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: #121214;
  border-radius: 0.4rem;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #202024;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #121214;
  border-radius: 0.4rem;
}